.homepage {
  background-color: #f3f4f6;
}

form {
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  align-items: center;
  background-color: beige;
  border-color: beige;
  box-shadow: 1px 1px 10px gray;
}

input {
  all: unset;
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

::placeholder {
  opacity: 0.5;
}

.search-icon {
  padding-top: 5px;
  width: 100px;
  height: 32px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.home__para {
  padding: 3rem 0;
  line-height: 40px;
  text-align: center;
}

.home__para > h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 700;
  color: blue;
}

.home__para > button {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
  margin-top: 40px;
  box-shadow: 1px 1px 10px gray;
}

.home__btn:hover {
  color: blue;
  background-color: beige;
  transition: 0.8s;
  font-weight: 700;
}
