.leaderboard {
  background-color: #f3f4f6;
  align-items: center;
}

.leaderboard > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  color: blue;
}

.leaderboard > div > h1 {
  color: blue;
}

.leaderboard > div > p {
  font-weight: 700;
  color: blue;
}

table {
  text-align: center;
  margin: 1rem 12rem;
  color: #a5aaad;
  width: 80%;
}

table > tr > td {
  padding: .5rem 0;
  border-bottom: 1px solid blue;
}

table > tr > th {
  color: #a5aaad;
  border-bottom: 1px solid blue;
  font-size: 20px;
}

table tr> td > img{
  border-radius: 50px;
  width: 80px;
  height: 80px;
  transition: 0.5s all ease-in-out;
}

table tr> td > img:hover{
  transform: scale(1.2);
}


